{
  "parserOptions": {
    "ecmaVersion": 2019, 
    "sourceType": "module"
  },
  "plugins": [],
  "extends": [
    "airbnb-base",
    "plugin:prettier/recommended"
  ],
  "env": {
  },
  "rules": {
    "no-console": "off",
    "no-param-reassign": "warn",
    "no-restricted-syntax": "off",
    "no-await-in-loop": "off",
    "no-continue": "off",
    "no-underscore-dangle": "off",
    "no-plusplus": "off",
  }
}
